/* Solution for the right gap in the responsive mode is referenced to:
http://stackoverflow.com/questions/17005500/bootstrap-2-3-css-responsive-left-with-a-white-space-on-the-right */
html, body {
    width: auto !important;
    overflow-x: hidden !important;
}


/* Solution of Navbar with well-sized logo image is referenced to:
http://codepen.io/bootstrapped/pen/KwYGwq */
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}


.navbar-brand {
    height: 80px;
}

.nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

nav{
    background:#1890E2;
}

.nav>li.disabled>a{
    color:white;
}


a.currentStep{
    font-weight:bolder;
}

a.otherStep{
    font-weight:lighter;
}


/*This solution code is referenced to:
http://stackoverflow.com/questions/16625972/change-color-of-bootstrap-navbar-on-hover-link */
ul.nav a:hover{
    color: #fff !important;
}


.check_icon{
    height:auto;
    width:10vw;
}


/*The solution of vertical alignment in bootstrap grid system is referenced to:
http://stackoverflow.com/questions/30966450/how-to-vertically-align-div-inside-bootstrap-3-column */
.rowCenter {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-47.5%,-50%);
    width:100%;
}

@media screen and (max-width : 767px){

    .regProgress{
        display:none;
    }

    .navbar-brand{
        transform: translateX(-50%);
        left: 55vw;
        position: absolute;
    }

    .check_icon{
        height:auto;
        width:15vw;
    }

}