body{
    background-color: white;
}

nav.navbar-static-top{
    background-color:#2A3F54;
}

a.pageCat{
    color:#DFDFDF;
}


ul.navbar-top-links a:hover{
    background-color: rgb(52,72,92);
    color:white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: white;
    color:#2A3F54;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

a.currentPage{
    color:rgb(26,187,156);
}

.userIcon{
    height:auto;
    width:20%;
    min-width:20%;
}